notebooks/results
.idea
*.h5ad
.pybiomart.sqlite

model_*.p
CoLocatedComb/
*requirements.txt
counts_*.p
synthetic_*_counts.csv
mapping_video/
notebooks/selected_results/mouse_visium_snrna/segmentation/results/*_segmented
notebooks/selected_data/
*.gif

Meta
doc
# Resilio Sync
.sync

# MAC
*Icon*
.DS_Store
# Rstudio projects
*Rproj
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.pyc
*.egg-info/
.installed.cfg
*.egg
.Rproj.user
.ipynb_checkpoints
.Rhistory
